<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{client/base.html}"
	  >
	  <head>
		  <title layout:fragment="title">WELCOME TO AGELGIL</title>
	  </head>
	<body>
		
		<main layout:fragment="main" class="container-fluid local-mb-8">
		
			<div class="row local-pt-8 local-mb-8" style="background-image: url('/static/res/client/home/images/top_background.jpeg'); background-size: cover;">
				
				<div class="col-lg-6 col-12 mx-auto">
					<h1 class="text-light font-weight-bold pl-0 display-3">FIND THE PERFECT HOTEL</h1>
					<form class="bg-white border border-dark row p-5 rounded local-br-2 local-mt-6" action="/client/filter/location" method="get" style="margin-bottom: -10em;">
						<div class="col-lg-6 col-12 my-4 mx-auto">
							<label for="city" class="form-label mb-1 font-weight-bold">DESTINATION</label>
							<div class="input-group">
								<span class="input-group-text bg-light border-right-0"><i class="fas fa-at text-secondary"></i></span>
								<select class="form-control form-select" name="city" required>
									<option value="">SELECT</option>
									<option th:each="city: ${availableCities}" th:value="${city}">[[${city}]]</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6 col-12 my-4">
							<label for="check_in" class="form-label mb-1 font-weight-bold">CHECK IN</label>
							<div class="input-group">
								<span class="input-group-text bg-light border-right-0"><i class="fas fa-at text-secondary"></i></span>
								<input class="form-control" type="date" name="check_in" value="1">
							</div>
						</div>
						<div class="col-lg-6 col-12 my-4 mx-auto">
							<label for="guests" class="form-label mb-1 font-weight-bold">GUESTS</label>
							<div class="input-group">
								<span class="input-group-text bg-light border-right-0"><i class="fas fa-at text-secondary"></i></span>
								<input class="form-control" type="number" name="guests" value="1">
							</div>
						</div>
						<div class="col-lg-6 col-12 my-4">
							<label for="check_in" class="form-label mb-1 font-weight-bold">CHECK OUT</label>
							<div class="input-group">
								<span class="input-group-text bg-light border-right-0"><i class="fas fa-at text-secondary"></i></span>
								<input class="form-control" type="date" name="check_out" value="1">
							</div>
						</div>
	
						<div class="col-12 d-flex mt-5">
							<button type="submit" class="px-5 py-3 btn btn-primary mx-auto rounded local-br-1">SEARCH</button>
						</div>
					</form>	
				</div>
				
			</div>
	
			<div class="row local-mt-8 col-lg-11 col-12 p-0 mx-auto">
	
				<div id="reactRoot"></div>
	
			</div>
	
		</main>

	</body>

</html>